@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display&display=swap');

*{
  outline: none;
}

//This is the state count down area and the button where it launches.
.left{
  font-family: 'Big Shoulders Display', cursive;
  background-color: #000000;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .body_state1, .body_state2, .body_state3, .body_state4, .body_state5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1, h2{
      margin-bottom: 100px;
      font-size: 4em;
      letter-spacing: 2px;
    }
    button{
      font-family: 'Big Shoulders Display', cursive;
      letter-spacing: 2px;
      font-size: 2em;
      padding: 10px 20px;
      border-radius: 25px;
      &:hover{
        cursor: pointer;
      }
    }
  }
  .state2, .state3, .state4, .state5{
    display: none;
  }
}

//This is the rockets styling properties
.right{
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  // background-color: #b6d3e7;
  background-image: url(/space.jpg);
  background-size: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;;
  align-items: center;
  .rocket{ //this is the rocket it self inside a container box and also with its pieces put together
    width: 200px;
    height: 300px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    transform: translateY(18px);
    transition: transform 10000ms;
    .point{
      width: 20px;
      height: 20px;
      background-color: #b42e2e;
      transform: rotate(45deg);
    }
    .main_area{
      width: 29px;
      height: 100px;
      background-color: rgb(116, 116, 116);
      transform: translateY(-10px);
      p{
        transform: rotate(90deg);
        font-size: 0.5em;
        color: white;
        span{
          color: rgb(255, 1, 1);
        }
      }
    }
    .rocket_booster{
      width: 40px;
      height: 20px;
      border-radius: 20px 20px 0 0;
      background-color: #b42e2e;
      transform: translateY(-18px);
    }
  }
  .fly{ //This is to launch the rocket up
    transform: translateY(-10000px);
  }
  .ground{
    background-color: #000000;
    height: 20px;
    width: 100%;
  }
}
